* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  gap: 1rem;
}

.form input {
  height: 1.5rem;
  border-radius: 5px;
  outline: none;
}

.form button {
  height: 2rem;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
.header {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.container-navigation {
  display: flex;
  gap: 1rem;
}

.container-navigation button {
  height: 1.5rem;
  font-size: 1rem;
  border: 1px solid #fff;
  background-color: lightgray;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: blue;
}
